.sidebar {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

	& aside {
		min-height: 100vh;
    height: 100%;
    max-width: 600px;
    width: 100%;
    background-color: #2b2f3e;
    padding: 10px;
		color: #5b5d63;

		& h2 {
			color: white;
		}
	}

  @media (min-width: 576px) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
